.menu-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  background-color: rgb(255, 255, 255);
  padding-block: 0.5em;
  border-top: 2px solid #969696;
  margin-top: auto;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #969696;
}

.menu-item:hover,
.menu-item:active {
  color: #ef775a;
  cursor: pointer;
}

.menu-item > h4 {
  font-size: 10px;
  text-align: center;
  margin-top: -1px;
}

.nav-bar-link {
  text-decoration: none;
}
